In [1]:
import pandas as pd
import numpy as np

<h4 class="text-center"> String to Dates </h4>

In [2]:
string_one = np.array(['10-10-2020 10:00 PM',
                      '10-11-2020 11:00 PM',
                      '10-12-2020 11:30 PM'])

In [9]:
string_two = np.array(['10-10-2020 10:00 PM',
                      '10-11-2020 11:00 PM',
                      '10-12-2020 11:30 PM',
                     'something like that'])

<span class="badge"> to_datetime </span>

In [4]:
string_one[0]

'10-10-2020 10:00 PM'

In [5]:
pd.to_datetime(string_one[0])

Timestamp('2020-10-10 22:00:00')

In [12]:
one_time = [ pd.to_datetime(string, format="%d-%m-%Y %I:%M %p",errors='coerce') for string in string_one]
one_time

[Timestamp('2020-10-10 22:00:00'),
 Timestamp('2020-11-10 23:00:00'),
 Timestamp('2020-12-10 23:30:00')]

In [13]:
two_time = [ pd.to_datetime(string, format="%d-%m-%Y %I:%M %p",errors='coerce') for string in string_two]
two_time

[Timestamp('2020-10-10 22:00:00'),
 Timestamp('2020-11-10 23:00:00'),
 Timestamp('2020-12-10 23:30:00'),
 NaT]

<h4 class="text-center"> TimeZone </h4>

In [15]:
pd.Timestamp(one_time[0])

Timestamp('2020-10-10 22:00:00')

In [18]:
london_time = one_time[0].tz_localize('Europe/London')
london_time

Timestamp('2020-10-10 22:00:00+0100', tz='Europe/London')

<span class="badge"> Convert Timezone </h4>

In [19]:
london_time.tz_convert('Asia/Dhaka')

Timestamp('2020-10-11 03:00:00+0600', tz='Asia/Dhaka')

<span class="badge"> Time Series </span>

In [22]:
data_series = pd.Series(pd.date_range('1/1/2020', periods=10, freq='M'))

In [23]:
data_series

0   2020-01-31
1   2020-02-29
2   2020-03-31
3   2020-04-30
4   2020-05-31
5   2020-06-30
6   2020-07-31
7   2020-08-31
8   2020-09-30
9   2020-10-31
dtype: datetime64[ns]

In [25]:
data_series.dt.tz_localize('Asia/Dhaka')

0   2020-01-31 00:00:00+06:00
1   2020-02-29 00:00:00+06:00
2   2020-03-31 00:00:00+06:00
3   2020-04-30 00:00:00+06:00
4   2020-05-31 00:00:00+06:00
5   2020-06-30 00:00:00+06:00
6   2020-07-31 00:00:00+06:00
7   2020-08-31 00:00:00+06:00
8   2020-09-30 00:00:00+06:00
9   2020-10-31 00:00:00+06:00
dtype: datetime64[ns, Asia/Dhaka]

<h4 class="text-center"> Filter Date </h4>

In [27]:
data = pd.DataFrame()

In [29]:
data['Date']= data_series

In [30]:
data

        Date
0 2020-01-31
1 2020-02-29
2 2020-03-31
3 2020-04-30
4 2020-05-31
5 2020-06-30
6 2020-07-31
7 2020-08-31
8 2020-09-30
9 2020-10-31

In [33]:
data[ (data['Date']> '2020-03-25') & (data['Date']< '2020-05-15')]

        Date
2 2020-03-31
3 2020-04-30

<span class="badge"> Date Index </h4>

In [35]:
data_two = data.set_index(data['Date'])

In [36]:
data_two

                 Date
Date
2020-01-31 2020-01-31
2020-02-29 2020-02-29
2020-03-31 2020-03-31
2020-04-30 2020-04-30
2020-05-31 2020-05-31
2020-06-30 2020-06-30
2020-07-31 2020-07-31
2020-08-31 2020-08-31
2020-09-30 2020-09-30
2020-10-31 2020-10-31

In [37]:
data_two.loc['2020-04-20':'2020-07-10']

                 Date
Date
2020-04-30 2020-04-30
2020-05-31 2020-05-31
2020-06-30 2020-06-30

<h4 class="text-center"> Year Month Week Day Hour Minute </h4>

In [38]:
data

        Date
0 2020-01-31
1 2020-02-29
2 2020-03-31
3 2020-04-30
4 2020-05-31
5 2020-06-30
6 2020-07-31
7 2020-08-31
8 2020-09-30
9 2020-10-31

In [39]:
data['Year'] = data['Date'].dt.year

In [40]:
data

        Date  Year
0 2020-01-31  2020
1 2020-02-29  2020
2 2020-03-31  2020
3 2020-04-30  2020
4 2020-05-31  2020
5 2020-06-30  2020
6 2020-07-31  2020
7 2020-08-31  2020
8 2020-09-30  2020
9 2020-10-31  2020

In [41]:
data['Month'] = data['Date'].dt.month

In [42]:
data

        Date  Year  Month
0 2020-01-31  2020      1
1 2020-02-29  2020      2
2 2020-03-31  2020      3
3 2020-04-30  2020      4
4 2020-05-31  2020      5
5 2020-06-30  2020      6
6 2020-07-31  2020      7
7 2020-08-31  2020      8
8 2020-09-30  2020      9
9 2020-10-31  2020     10

In [43]:
data['Day'] = data['Date'].dt.day
data['Hour'] = data['Date'].dt.hour
data['Minute'] = data['Date'].dt.minute

In [44]:
data

        Date  Year  Month  Day  Hour  Minute
0 2020-01-31  2020      1   31     0       0
1 2020-02-29  2020      2   29     0       0
2 2020-03-31  2020      3   31     0       0
3 2020-04-30  2020      4   30     0       0
4 2020-05-31  2020      5   31     0       0
5 2020-06-30  2020      6   30     0       0
6 2020-07-31  2020      7   31     0       0
7 2020-08-31  2020      8   31     0       0
8 2020-09-30  2020      9   30     0       0
9 2020-10-31  2020     10   31     0       0

<h4 class="text-center"> Date Operation </h4>

In [45]:
raw_data = pd.DataFrame()

In [50]:
data['Date'][5]

Timestamp('2020-06-30 00:00:00')

In [51]:
data['Date'][1]

Timestamp('2020-02-29 00:00:00')

In [57]:
data['Date'][5] - data['Date'][1]

Timedelta('122 days 00:00:00')

In [58]:
(data['Date'][5] - data['Date'][1]).days

122

<h4 class="text-center"> Days of the week </h4>

In [59]:
data.head()

        Date  Year  Month  Day  Hour  Minute
0 2020-01-31  2020      1   31     0       0
1 2020-02-29  2020      2   29     0       0
2 2020-03-31  2020      3   31     0       0
3 2020-04-30  2020      4   30     0       0
4 2020-05-31  2020      5   31     0       0

In [61]:
data['Week'] = data['Date'].dt.day_name()

In [62]:
data

        Date  Year  Month  Day  Hour  Minute       Week
0 2020-01-31  2020      1   31     0       0     Friday
1 2020-02-29  2020      2   29     0       0   Saturday
2 2020-03-31  2020      3   31     0       0    Tuesday
3 2020-04-30  2020      4   30     0       0   Thursday
4 2020-05-31  2020      5   31     0       0     Sunday
5 2020-06-30  2020      6   30     0       0    Tuesday
6 2020-07-31  2020      7   31     0       0     Friday
7 2020-08-31  2020      8   31     0       0     Monday
8 2020-09-30  2020      9   30     0       0  Wednesday
9 2020-10-31  2020     10   31     0       0   Saturday

In [63]:
data['Week Day'] = data['Date'].dt.weekday

In [64]:
data

        Date  Year  Month  Day  Hour  Minute       Week  Week Day
0 2020-01-31  2020      1   31     0       0     Friday         4
1 2020-02-29  2020      2   29     0       0   Saturday         5
2 2020-03-31  2020      3   31     0       0    Tuesday         1
3 2020-04-30  2020      4   30     0       0   Thursday         3
4 2020-05-31  2020      5   31     0       0     Sunday         6
5 2020-06-30  2020      6   30     0       0    Tuesday         1
6 2020-07-31  2020      7   31     0       0     Friday         4
7 2020-08-31  2020      8   31     0       0     Monday         0
8 2020-09-30  2020      9   30     0       0  Wednesday         2
9 2020-10-31  2020     10   31     0       0   Saturday         5

<h4 class="text-center"> Lagged Feature </h4>

In [65]:
stock = pd.DataFrame()

In [71]:
stock['Date'] = pd.date_range('1/1/2020', periods=10, freq='D')
stock['Price'] = np.random.randint(2,11,10)

In [72]:
stock

        Date  Price
0 2020-01-01     10
1 2020-01-02      2
2 2020-01-03      6
3 2020-01-04      3
4 2020-01-05      8
5 2020-01-06      3
6 2020-01-07      8
7 2020-01-08      7
8 2020-01-09      7
9 2020-01-10      6

<span class="badge"> Shift </span>

In [73]:
stock['Previous_day_price'] = stock['Price'].shift(1)

In [74]:
stock

        Date  Price  Previous_day_price
0 2020-01-01     10                 NaN
1 2020-01-02      2                10.0
2 2020-01-03      6                 2.0
3 2020-01-04      3                 6.0
4 2020-01-05      8                 3.0
5 2020-01-06      3                 8.0
6 2020-01-07      8                 3.0
7 2020-01-08      7                 8.0
8 2020-01-09      7                 7.0
9 2020-01-10      6                 7.0

<span class="badge"> Rolling window </span>

In [81]:
stock_2 = stock.set_index(data['Date'])

In [82]:
stock_2

                 Date  Price  Previous_day_price
Date
2020-01-31 2020-01-01     10                 NaN
2020-02-29 2020-01-02      2                10.0
2020-03-31 2020-01-03      6                 2.0
2020-04-30 2020-01-04      3                 6.0
2020-05-31 2020-01-05      8                 3.0
2020-06-30 2020-01-06      3                 8.0
2020-07-31 2020-01-07      8                 3.0
2020-08-31 2020-01-08      7                 8.0
2020-09-30 2020-01-09      7                 7.0
2020-10-31 2020-01-10      6                 7.0

In [84]:
stock_3 = stock_2.rolling(window=2).mean()
stock_3

            Price  Previous_day_price
Date
2020-01-31    NaN                 NaN
2020-02-29    6.0                 NaN
2020-03-31    4.0                 6.0
2020-04-30    4.5                 4.0
2020-05-31    5.5                 4.5
2020-06-30    5.5                 5.5
2020-07-31    5.5                 5.5
2020-08-31    7.5                 5.5
2020-09-30    7.0                 7.5
2020-10-31    6.5                 7.0

<h4 class="text-center"> Missing Values </h4>

In [93]:
#Interpolate Missing data
#ffill
#bfill

In [94]:
stock_3.bfill()

            Price  Previous_day_price
Date
2020-01-31    6.0                 6.0
2020-02-29    6.0                 6.0
2020-03-31    4.0                 6.0
2020-04-30    4.5                 4.0
2020-05-31    5.5                 4.5
2020-06-30    5.5                 5.5
2020-07-31    5.5                 5.5
2020-08-31    7.5                 5.5
2020-09-30    7.0                 7.5
2020-10-31    6.5                 7.0